@import '../styles.scss';

$boxShadow: 2px 4px 4px rgba(33, 33, 33, 0.3);
$activeBorderRadius: 1rem 1rem 0 0;
$inactiveBorderRadius: 1rem 1rem 1rem 1rem;

.ac-container {
  @include container;
}

.ac-input-box {
  display: flex;
  flex-direction: row;
  width: 50rem;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: $activeBorderRadius;
  box-shadow: $boxShadow;

  &:focus-within {
    box-shadow: $boxShadow;
  }

  &.has-no-text {
    border-radius: $inactiveBorderRadius;
    box-shadow: none;
  }

  > input {
    flex: 1;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  > .close-icon {
    cursor: pointer;
  }
}

.ac-dropdown {
  width: 50rem;
  margin: 0;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-top: 0px;
  border-radius: 0 0 1rem 1rem;
  list-style: none;
  background-color: $white;
  box-shadow: $boxShadow;

  > li {
    &.selected {
      background-color: $code-alpha;
    }

    &:hover {
      background-color: rgba(233, 233, 233, 0.7);
    }
  }
}
