.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #448bff;
  width: auto;
  height: auto;
  padding: 5rem;
  margin-top: 0.5rem;
}

.modal-btn {
  background-color: #4000c7;
  text-decoration: none;
  border: none;
  padding: 1.5rem;
  color: white;
  border-radius: 3rem;
  cursor: pointer;
}

.modal-backdrop {
  @keyframes boxFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  animation: boxFade 0.3s normal;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-view {
  border-radius: 1.5rem;
  background-color: white;
  width: 21rem;
  height: 7rem;
  text-align: center;
  > span.close-btn {
    margin-top: 1px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  > div.desc {
    margin: 22px 0;
    color: #4000c7;
    white-space: pre-wrap;
  }
}
