@import '../styles.scss';

.tag-container {
  @include container;
}

.tag-input {
  display: flex;
  width: 50rem;
  height: auto;
  padding: 0 1rem;
  border: 1px solid $light-gray;
  border-radius: 0.5rem;
  &:focus-within {
    border: 1px solid $wanted-two;
  }

  > ul {
    display: flex;
    width: 70%;
    padding: 0;
    margin: 0.5rem 0 0 0;
    flex-wrap: wrap;
    > .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      padding: 0 0.5rem;
      margin: 0 0.5rem 0.5rem 0;
      border-radius: 0.5rem;
      list-style: none;
      color: $white;

      > .tag-close-icon {
        width: 1rem;
        height: 1rem;
        margin-left: 0.5rem;
        border-radius: 50%;
        text-align: center;
        background: $white;
        cursor: pointer;
      }
    }

    @for $i from 1 through 100 {
      @if $i % 4 == 1 {
        @include tag-color($i, $codestates);
      }
      @if $i % 4 == 2 {
        @include tag-color($i, $wanted-one);
      }
      @if $i % 4 == 3 {
        @include tag-color($i, $wanted-two);
      }
      @if $i % 4 == 0 {
        @include tag-color($i, $wanted-three);
      }
    }
  }
  > input {
    flex: 1;
    border: none;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
}
