.toggle-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #448bff;
  width: auto;
  height: auto;
  padding: 5rem;
  cursor: pointer;

  > .toggle-box {
    width: 7.5rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: gray;
    transition: all 0.3s ease;
    &.toggle-checked {
      background-color: #23e0a6;
    }
  }

  > .toggle-circle-container {
    width: 7.5rem;
    height: 3rem;
    position: absolute;

    > .toggle-circle {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #2d5bf1;
      transition: all 0.3s ease;

      &.toggle-checked {
        left: 5rem;
      }
    }
  }
}

.desc {
  margin-top: 0.5rem;
  text-align: center;
}
