@import '../styles.scss';

.toggle-container {
  @include container;

  > .toggle-box {
    width: 7.5rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: $light-gray;
    transition: all 0.3s ease;
    cursor: pointer;
    &.toggle-checked {
      background-color: $wanted-one;
    }
  }

  > .toggle-circle-container {
    width: 7.5rem;
    height: 3rem;
    position: absolute;
    cursor: pointer;

    > .toggle-circle {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: $white;
      transition: all 0.3s ease;

      &.toggle-checked {
        left: 5rem;
      }
    }
  }
}

.desc {
  margin-top: 0.5rem;
  text-align: center;
}
