@import 'styles.scss';

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: bolder;
  font-style: normal;
}

* {
  font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
}

#title {
  font-family: 'GmarketSansBold', sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
  color: $codestates;
}

.sub-title {
  font-family: 'GmarketSansBold', sans-serif;
  font-size: 1rem;
  margin: 0.5rem;
}

.box {
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid $light-gray;
  box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.3);
}
